<!doctype html>
<html lang="en">
  <head charset="utf-8">
    <title>Banking App</title>
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body class="container d-flex flex-column body">
    <div class="toolbar" style="width: 100%; padding-left: 300px;" role="toolbar">
      <p class="align-items-center">Welcome</p>
    </div>
    <div class="content" role="main">
      <!-- Highlight Card -->
      <div class="card highlight-card card-small">
        <h1>{{ title }} is running!</h1>
      </div>
      <h2>Hello {{ account.ownerName }} {{ account.ownerLastName }}, your total balance is {{ account.totalBalance | currency }}</h2>
      <h3>Filter transactions by:</h3>
      <select class="form-control" (change)="filterTransaction($event)">
        <option value=''>All</option>
        <option value='debit'>Debit</option>
        <option value='credit'>Credit</option>
      </select>&nbsp;
      <div class="table-responsive">
        <table class="table caption-top">
          <thead>
            <tr>
              <th>Type</th>
              <th>Description</th>
              <th>Amount</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let transaction of visibleTransactions">
              <td>{{ transaction.type}}</td>
              <td>{{ transaction.description }}</td>
              <td>{{ transaction.amount | currency }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <form class="row g-3" #form="ngForm" (ngSubmit) = "submit()">
        <h2>Would you like to tranfer money?</h2>
        <div>
          <section>
            <div class="col-12">
              <label for="recipientName">Recipient Name</label>&nbsp;
              <input #description="ngModel" name="description" [(ngModel)]="tran[0].description" class="form-control" required type="text">
              <!-- <label for="recipientLastName">Recipient Last Name</label>
              <input> -->
            </div>
          </section>
          <section>
            <div class="col-12">
              <!-- <label for="phoneNumber">Recipient Phone number</label>
              <input> -->
              <label for="amount">Please enter the amount you would like to tranfer</label>&nbsp;
              <input #amount="ngModel" name="amount" [(ngModel)]="tran[0].amount" class="form-control" required type="text">
            </div>
          </section>
        </div>
        <button type="submit" class="btn btn primary">Submit</button>
      </form>
    </div>
</body>
</html>
