<!doctype html>
<html lang="en">
  <head charset="utf-8">
    <title>Banking App</title>
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body class="container d-flex flex-column">
    <div class="toolbar" role="banner">
      <span>Welcome</span>
    </div>

    <div class="content" role="main">

      <!-- Highlight Card -->
      <div class="card highlight-card card-small">

        <span>{{ title }} is running!</span>  

      </div>

      <h2></h2>

    </div>
</body>
</html>
