<!doctype html>
<html lang="en">
  <head charset="utf-8">
    <title>Banking App</title>
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body class="container d-flex flex-column body">
    <div class="toolbar" role="banner">
      <span>Welcome</span>
    </div>

    <div class="content" role="main">

      <!-- Highlight Card -->
      <div class="card highlight-card card-small">

        <span>{{ title }} is running!</span>  

      </div>

      <h2>Hello {{ account.ownerName }} {{ account.ownerLastName }}, your total balance is {{ account.totalBalance | currency }}</h2>

      <h3>Filter transactions by:</h3>
      <select class="form-control" (change)="filterTransaction($event)">
        <option value=''>All</option>
        <option value='debit'>Debit</option>
        <option value='credit'>Credit</option>
      </select>
      <table class="table table-striped table-bordered table-condensed">
        <thead>
          <tr>
            <th>Type</th>
            <th>Description</th>
            <th>Amount</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let transaction of visibleTransactions">
            <td>{{ transaction.type}}</td>
            <td>{{ transaction.description }}</td>
            <td>{{ transaction.amount | currency }}</td>
          </tr>
        </tbody>
      </table>
    </div>
</body>
</html>
